/* Align checkboxes and radio with theirs labels. */
.dockerCloudSettings input[type="radio"], .dockerCloudSettings input[type="checkbox"] {
    margin-top: -1px;
    vertical-align: middle;
}

/* Prevent huge margins in paragraph inside of table cells. */
.dockerCloudSettings td p {
    margin: 2px;
}

/* Force error messages in H2 to be inlined. */
.dockerCloudSettings h2 span.error {
    display: inline;
    font-size: 0.7em;
}

/* Error message bar similar to standard successMessage. */

.dockerCloudSettings .message {
    margin: 1em 0;
    padding: 2px 20px;
    font-size: 90%;
    text-align: center;
    font-weight: bold;
}

.dockerCloudSettings .errorMessage {
    background-color: #FEEDEB;
}

.dockerCloudSettings .warningMessage {
    background: #FFF3FD;
}

.dockerCloudSettings .infoMessage {
    background: #E0F2F9;
}

#DockerCloudImageDialog {
    width: 570px;
}

/* Remove border on settings table inside of image dialog... */
.dockerCloudSettings table.settings {
    border: none;
}

/* ... and add them instead to individual cells (more flexible). */
.dockerCloudSettings .settings td {
    border: 1px solid #ccc;
    padding: 0.5em;
    /* By default, also align the content at the top of the cell, so error messages will always start on their own
    line. */
    vertical-align: top;
}

.dockerCloudSettings .settings th {
    border: 1px solid #ccc;
}

/* Main content div in the dialog. Setup vertical scrolling. */
#dockerCloudImageContainer {
    clear: both; /* Required to clear the tabs elements. */
    max-height: 530px;
    min-height: 530px;
    overflow-y: auto
}

/* Help tooltips. */
i.tooltip{position:relative; z-index:4;text-decoration:none}

#dockerCloudImageContainer i.tooltip {
    z-index:24 !important;
}
i.tooltip:hover{z-index:5;}

#dockerCloudImageContainer i.tooltip:hover {
    z-index:25 !important;
}

span.tooltiptext{
    display:block;
    position:absolute;
    left: -6.55em;
    margin-top:8px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #ced9eb;
    background: #f7fcff;
    color: #222;
    text-align: left;
    width: 300px;
    font-weight: normal;
    z-index: 999;
}

#tooltipHolder {
    position:absolute;
    padding: 5px 5px 5px 5px;
    border: 1px solid #ced9eb;
    background: #f7fcff;
    color: #222;
    text-align: left;
    max-width: 300px;
    font-weight: normal;
    z-index: 999;
}

#tooltipHolder::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -14px;
    border: 5px solid transparent;
    border-bottom-color: #B3D4FD;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -14px;
    border: 5px solid transparent;
    border-bottom-color: #B3D4FD;
}

/* Show the tooltip text when you mouse over the tooltip container */
#dockerCloudImageContainer .tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Take in account some additional margin for warning notes with icon. */
#dockerCloudImageContainer .smallNoteAttention {
    margin-top: 5px;
}

/* Table cell holding table "Add" button: make them aligned to the right border, and reduce their size a little. */
.dockerCloudSettings .dockerCloudAddItem {
    text-align: right;
}
.dockerCloudSettings .dockerCloudAddItem td {
    padding: 4px 0;
}

/* A cell holding a control cell. */
.dockerCloudSettings .settings .dockerCloudCtrlCell {
    border: none !important;
    vertical-align: middle;
}

#DockerCloudImageDialog  .dockerCloudSimpleTables .settings .dockerCloudCtrlCell {
    width: 18%;
}

#DockerCloudImageDialog  .settings .dockerCloudCtrlCell {
   width: 10%;
}

/* Table column have fixed width, just tell the input/select to use all of it. */
#DockerCloudImageDialog .settings input, #DockerCloudImageDialog .settings select {
    width: 100%;
}

/* A div holding several inlined tables. Use the whole dialog width and align them right so all the "Add" button are
aligned on the RHS of the screen. */
#DockerCloudImageDialog div.dockerCloudSimpleTables {
    width: 100%;
    text-align: right;
}

#DockerCloudImageDialog .dockerCloudSimpleTables table.settings {
    width: 48%;
    display: inline-table;
}

#DockerCloudImageDialog .dockerCloudSimpleTables table.settings th {
    width: auto; /* Reset fixed width */
}

/* Setup text annotation icon location.*/
#DockerCloudImageDialog span.dockerCloudErrorIcon img {
    vertical-align: top;
}

/* Center cell and input content. */
.dockerCloudSettings .center {
    text-align: center !important;
}

.dockerCloudSettings td.center > input {
    text-align: center;
}

.dockerCloudSettings table.settings th.center {
    /* Remove the default padding on the left for centered content. */
    padding-left: 0;
}

/* Warning and error messages. */
.dockerCloudSettings .error {
    color: #ed2c10;
}
.dockerCloudSettings .warning {
    color: #c89400;
}
/* H4 header. Used for settings label outside of the main table. */
#DockerCloudImageDialog h4 {
    margin: 0;
    padding: 8px 0 0 8px;
    border-top: 1px solid #ccc; /* Top border for continuity with the main table. */
}

/* Reset excessive left-margin from TC. */
#DockerCloudImageDialog span.error {
    margin-left: auto;
}

/* Button with reduced-size. */
#DockerCloudImageDialog a.dockerCloudAddBtn {
    padding: 4px 8px 4px;

}

/* Subtable in main settings table used for simple layout purpose. */
#DockerCloudImageDialog .dockerCloudSubtable td {
    margin: 0;
    padding: 2px 2px 0;
    border: none;
}

/* Delete button styling. */
.dockerCloudSettings .dockerCloudCtrlBtn {
    padding: 2px 2px 2px 2px;
}
.dockerCloudSettings .dockerCloudCtrlCell .dockerCloudCtrlBtn {
    margin-right: 5px;
}

.dockerCloudSettings .dockerCloudTestBtn > span {
    background: url("img/test.png") no-repeat left;
    padding-left: 1.2em;
    white-space: nowrap;
}

.dockerCloudSettings .dockerCloudAddBtn > span {
    background: url("img/add.png") no-repeat left;
    padding-left: 1.2em;
    white-space: nowrap;
}

.dockerCloudSettings .dockerCloudDeleteBtn > span {
    background: url("img/delete.png") no-repeat left;
    padding-left: 1.2em;
    white-space: nowrap;
}

.dockerCloudSettings .dockerCloudDeleteBtn > span {
    background: url("img/delete.png") no-repeat left;
    padding-left: 1.2em;
    white-space: nowrap;
}

.dockerCloudSettings .dockerCloudSettingsBtn > span {
    background: url("img/gear.png") no-repeat left;
    padding-left: 1.2em;
    white-space: nowrap;
}

.dockerCloudImageDetails th, .dockerCloudImageDetails td {
    border: 1px solid #ccc;
}

.dockerCloudImageDetails h4 {
    margin: 5px 2px;
}

/* Test container */
#DockerTestContainerDialog {
    width: 600px;
}

#dockerTestContainerOutput {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 2px;
}

.dockerCloudStatusIcon {
    margin-bottom: -3px;
}

#dockerCloudTestContainerLabel.containerTestError {
    background-color: #feedeb;
    width: auto;
    margin-top: .1em;
    margin-right: .5em;
    margin-left: 0;
    padding: 0 .5em;
    border-radius: 4px;
    color: #d92f19;
    font-size: 90%;
    font-weight: normal;
    text-indent: 0;
}
#dockerTestExecInfo p {
    padding: 5px;
    background: #eeeeee;
    border-radius: 5px;
    margin: 0;
}
#dockerCloudTestContainerLabel ul {
    margin: 0;
    list-style-type: square;
}

#dockerTestContainerOutput {
    height: 250px;
}

#dockerTestContainerOutputTitle {
    margin-top: 2px;
    margin-bottom: 2px;
}

#dockerTestContainerOutput .terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
    border-radius: 5px;
}

#dockerTestContainerOutput .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}

/* Diagnostic dialog */

#DockerDiagnosticDialog {
    width: 800px;
}

#dockerCloudTestContainerErrorDetailsMsg {
    margin-bottom: 10px;
}

#dockerCloudTestContainerErrorDetailsStackTrace {
    white-space: pre;
    width: 100%;
    overflow: auto;
    background: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-height: 400px;
    font-size: 0.8em;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 10px;
}

/* Others general dialog styling. */
.dockerCloudBtnBlock {
    text-align: right;
}
